.myCustomLabel {
    font-size: 20;
    color: #0078d4;
}

.myCustomButton {
    background-color: #0078d4;
    color: #ffffff;
}

.otherButton {
    background-color: crimson;
    color: azure;
    max-width: contain;
}



/*SET OBJECT and comeback to this */
/*@media (platform: ios) {
    Label {
        font-size: small;
    }
}

@media (platform: android) {
    Label {
    }
        font-size: medium;
}
*/